.footer {
  border-top: 3px solid #75b17a;
}

.footer_grid {
  display: grid;
  grid-auto-flow: column;
  background: #58bf70;
  grid-template-columns: 25% 25% 25% 25%;
  place-items: center;
  height: 100%;
}

.footer__icons {
  fill: blue;
}
