.form__card {
  background-color: #f1c98b;
  padding: 15px 30px 0 30px;
  position: relative;
  color: #462620;
  border-radius: 15px;
  margin-bottom: 30px;
  border: 3px solid #c26d5e26;
}

.form__button {
  height: 50px;
  width: 200px;
  background-color: #58bf70;
  background: repeating-linear-gradient(
    45deg,
    #58bf70,
    #58bf70 10px,
    #55a86b 10px,
    #55a86b 20px
  );
  background-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  border: 2px solid #d9a68a;
  font-family: 'Luckiest Guy';
  color: white;
  font-size: 100%;
  padding-top: 6px;
}

.form__input-textarea {
  height: 80px;
  width: 100%;
  border: 3px dotted #c26d5e;
  -moz-border-radius: 15px;
  border-radius: 5px;
  resize: none;
  position: relative;
  font-family: monospace;
  padding: 5px;
}

.form__input-textarea::placeholder {
  font-size: 110%;
}

.form__input-text {
  height: 50px;
  width: 100%;
  border: 3px dotted #c26d5e;
  -moz-border-radius: 15px;
  border-radius: 5px;
  resize: none;
  position: relative;
  font-family: monospace;
  padding: 5px;
}

.form__input-text::placeholder {
  font-size: 140%;
  vertical-align: top;
}
